.header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: #225f78;
  color: white;

}
  
.headerText {
  font-size: 32px;
  flex-grow: 1;
  padding: 0px 20px;
}

.homePageLayout {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: row;
  margin: 0px 16px;
}