
* {
  font-family: 'Hepta Slab', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* html, body {
  padding: 0px;
  width: 100%;
}

.App {
  width: 100%;
} */

table th, table td{
  text-align: left;
  padding: 8px;
}

table th {
  background-color: rgba(0,0,0,.12);
  border-bottom: 1px solid black;
}
table td {
  background-color: rgba(0,0,0,.06);
}

table {
  border-collapse: collapse;
}

.tableHeader {
  border-bottom: 1px solid black;
  padding: 4px;
}

button {
  height: 32px;
  background-color: rgba(0,0,0,.08);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(0,0,0,.2);
}

/* end of app.js, rest needs to find a home */

.content {
  display: block;
  display: flex;
  flex-direction: row;
  min-height: 600px;
}

.contentMainPanel {
  flex-grow: 1;
  height: 100%;
}

.rightPanel {
  width: 400px;
  height: 100%;
  padding: 8px;
}

.rightPanelHeader {
  font-size: 20px;
  margin-top: 8px;
  border-bottom: 4px solid rgba(0,0,0,.9);
}


.navLinks {
  display: inline-flex;
  margin-top: 8px;
}

.navLink {
  margin-left: 4px;
  margin-right: 12px;
}

@media all and (max-width:600px) {
  button {
    height: 24px;
  }
}