
* {
  font-family: 'Hepta Slab', serif;
  box-sizing: border-box;
}
body {
  padding-left: 20px;
  padding-right: 20px;
}

button {
  height: 32px;
  background-color: rgba(0,0,0,.08);
  outline: none;
  border: none;
  font-family: 'Hepta Slab', serif;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(0,0,0,.2);
}

/* end of app.js, rest needs to find a home */

.content {
  display: block;
  display: flex;
  flex-direction: row;
  min-height: 600px;
}

.contentMainPanel {
  flex-grow: 1;
  height: 100%;
}

.rightPanel {
  width: 400px;
  height: 100%;
  padding: 8px;
}

.rightPanelHeader {
  font-size: 20px;
  margin-top: 8px;
  border-bottom: 4px solid rgba(0,0,0,.9);
}


.navLinks {
  display: inline-flex;
  margin-top: 8px;
}

.navLink {
  margin-left: 4px;
  margin-right: 12px;
}